body {
    background: url("../images/deathstar.gif");
    background-size: 100%;
    color:white
}

img{
    height:175px;
    width:175px;
    float: left;

}

#characters {
    display: inline-block;
}

.character{
    float:left;
    text-align: center;
    align-content: center;
    display: block;
    width:175px;
    margin:15px
}

.yourCharacter,.currentEnemy{
    clear:all;
    text-align: center;
    display:block;
    margin:10px auto
}

.characterName, .characterHealth{
    color:#ffd700;
    width:175px;
    text-align: center;
    align-content: center;
}

#lightSabers {
    margin-left:-120px;
    height:175px;
    width:175px;
    background: none
}

#remainingEnemies{
    display:inline-flex;
}

